
body{
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    width: 960px;
    margin: auto;
}
.header{
    background-color: teal;
}
h1{
    background-color: teal;
    margin: auto;
    padding: 0;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.line {
    border: 1px solid;
}
.text{
    margin: 0 auto;
    padding-left: 10px;
    color: #777777;
}
.images{
    padding-left: 25px;
    padding-top: 30px;
    text-align: justify;
}
.contact-info{
    color: black;
}