
body{
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    
}
.header{
    background-color: teal;
}
h1{
    background-color: teal;
    margin: auto;
    padding: 0;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.line {
    border: 1px solid;
}
.card-text{
    margin: 0 auto;
    padding-left: 10px;
    color:white;
    font-size: 25px;;
}
.images{
    padding-left: 10px;
    padding-top: 10px;
}
.contact-info{
    color: black;
}

.card {
    padding: 25px;
}